
/* Колір основного тексту  #757575  */
/* Додатковий колір  тексту #212121 */
/* Білий #FFFFFF */
/* Акцент #2196F3 */
/* Додатковий колір фона  #2F303A*/
:root {--primary-text-color:#757575 ;
    --title-text-color: #212121 ;
    --accent-text-color: #2196F3; 
    --hero-text-color: #FFFFFF;
}
    .body { background-color:#FFFFFF; color: var(--primary-text-color) ;

        font-family: Roboto, sans-serif;
    }
    
.logo { 
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1,2;
    color:#2196F3;
    }
.logo-studio { 
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1,2;
    color: black;} 
ul {list-style: none;}
/* Site-nav */
.link { color: var(--title-text-color);} 
.site-nav .link:hover,
.site-nav .link:focus {color: var(--accent-text-color);}
/* contacts */
.contacts .link:hover,  .link:focus {color: var(--accent-text-col0r);}
/* Hero */
.hero {background-color: #2F303A;}
.hero-title {color:var(--hero-text-color);
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1,36;
    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
/* Section */
.section-title {color: var(--title-text-color);}